.comments
  margin-top: 10px
  padding-right: 20px
  margin-bottom: 50px
  .ultra
    height: auto
    width: auto
    li
      margin: 10px
      margin-right: 0
      font-size: 10px
      .block1, .block2, .block3
        padding: 5px
        font-family: Lato, sans-serif
      .block1
        border-top: 1px solid #333
        border-left: 1px solid #333
        display: inline-block
        text-transform: uppercase
        background: #333
        font-weight: 500
      .block2
        border-top: 1px solid #333
        display: inline-block
        text-transform: uppercase
        background: #333
        font-weight: 500
      .block3
        display: block
        border: 1px solid #333
        color: #ff8300
        white-space: normal /* Учитываются все пробелы и переносы */
        height: auto
        margin-bottom: 5px
    @media (max-width: 480px)
      li
        margin: 10px 0 10px -25px
@media (min-width: 960px)
  .comments
    width: 680px
    margin: 10px auto


.Reg_to_ansver
  color: red
  //background: teal
  text-align: right
  font-family: Lato, sans-serif
  font-weight: 700
  margin-top: -10px
  font-size: 15px
  line-height: 25px
.answer
  text-align: right
  font-family: Lato, sans-serif
  font-weight: 700
  margin-top: -10px
  font-size: 15px
  line-height: 25px
  cursor: pointer
  background: url(../img/Anonymous_Pencil_icon.png) no-repeat
  background-size: cover
  background-position: 50% 50%
  margin-left: calc(100% - 10px)
  width: 15px
  height: 15px
.post
  .answer
    right: 20px
    position: relative
    z-index: 99
ul.ul-dropfree
  div.drop
    width: 11px
    height: 11px
    position: absolute
    z-index: 10
    top: 6px
    left: -6px
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpinDlzJgNlgAWI09LScEnPmjWLoAImrHpIAkwMFAMqGMGC6X44GzkIsHoQooAFTTVQKdbAwxOigyMsmIh3MC7ASHnqBAgwAD4CGeOiDhXRAAAAAElFTkSuQmCC')
    background-position: -11px 0
    background-repeat: no-repeat
    cursor: pointer
ul.ul-treefree
  padding-left: 25px
ul.ul-treefree
  ul
    margin: 0
    padding-left: 6px
  li
    position: relative
    list-style: none
    //border-left: solid 1px #999
    margin: 0
    padding: 0 0 0 20px
    line-height: 23px
  li:before
    content: ''
    display: block
    //border-bottom: solid 1px #999
    position: absolute
    width: 18px
    //height: 11px
    left: 0
    top: 0
  li:last-child
    border-left: 0 none
//ul.ul-treefree li:last-child:before
  //border-left: solid 1px #999

.ahtung
  color: red
  text-align: right