.delete
  background: url('../img/delete.png')
  background-size: contain
  background-position: 50% 50%
  width: 20px
  height: 20px
  margin-left: calc(100% - 55px)
  margin-top: -18px
  cursor: pointer
  position: absolute