form
  width: auto
  margin: 0 auto
  text-align: center
  p
    width: 100%
    font-family: 'Lato', sans-serif
.menu_scroll
  #reg_form
    background: transparent
    padding: 5px
    margin-bottom: 0
    p
      margin-bottom: 1px
      margin-top: 1px
      font-family: 'Lato', sans-serif
      input
        border: none
        -webkit-border-radius: 0
        -moz-border-radius: 0
        border-radius: 0

        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none

        background: #26292E
        color: #FFFFFF
        font-size: 16px
        height: auto
        padding: 15px
        margin: 0

        resize: none
        font-family: 'Lato', sans-serif
  #auth_form
    background: transparent
    margin-bottom: 0
    padding: 5px
    p
      margin-bottom: 1px
      margin-top: 1px
      font-family: 'Lato', sans-serif
      input
        border: none
        -webkit-border-radius: 0
        -moz-border-radius: 0
        border-radius: 0

        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none

        background: #26292E
        color: #FFFFFF
        font-size: 16px
        height: auto
        padding: 15px
        margin: 0

        resize: none
        font-family: 'Lato', sans-serif

.message
  position: absolute
  z-index: 105
  background: #26292E
  top: 0
  left: 0
  right: 0
  bottom: 0
  font-family: 'Lato', sans-serif
  text-decoration: underline
  line-height: 120%
  letter-spacing: 1px
  padding-left: 25px
  padding-right: 25px
  text-align: center
.red
  color: red
  padding-top: 45vh
.green
  color: green
  padding-top: 50vh


.author
  width: 100%
  height: auto
  position: absolute
  top: 0
  padding: 12px
  font-family: 'Lato', sans-serif
  z-index: 101
  a
    color: red


#new_comment
  display: none
  background: transparent
  //margin-bottom: 0
  position: fixed
  bottom: 0
  z-index: 105
  max-width: 860px
  width: 100%
  margin: 0 auto
  p
    margin-bottom: 0
    margin-top: 0
    font-family: 'Lato', sans-serif
    input
      border: none
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      text-align: center

      -webkit-box-shadow: none
      -moz-box-shadow: none
      box-shadow: none

      background: #26292E
      color: #FFFFFF
      font-size: 16px
      height: auto
      width: 100%
      padding: 15px
      margin: 0

      resize: none
      font-family: 'Lato', sans-serif
@media (min-width: 860px)
  #new_comment
    left: calc(50% - 430px)
  .close_new_comment
    width: 10px
    height: 10px
    position: absolute
    margin-top: -95px
    z-index: 106
    margin-left: 435px
  @media (max-width: 860px)
    .close_new_comment
      margin-left: 0
      right: 5px
      margin-top: -120px
      padding: 10px

#delete_comment
  display: none
  background: transparent
  //margin-bottom: 0
  position: fixed
  bottom: 0
  z-index: 105
  max-width: 860px
  width: 100%
  margin: 0 auto