.menu
  height: 75px
  width: 100%
  background: #333
  position: fixed
  z-index: 100
  top: 0
  border-bottom: 1px solid #222
  font-family: 'Lato', sans-serif
.menu_scroll
  position: absolute
  z-index: 99
  margin-top: -450px
  transition: 500ms
  top: 75px
  background: #333
  width: 100%
  font-family: 'Lato', sans-serif
.author
  position: fixed
.auth_reg
  position: fixed
  font-family: 'Lato', sans-serif
  padding: 28px
  z-index: 101
  top: 0
.auth_reg:hover
  cursor: pointer
.auth_reg_close
  position: absolute
  z-index: 101
  background: url(../img/close.png)
  width: 15px
  height: 15px
  transition: 500ms
  top: 0
  right: 0
  margin: 30px
  background-size: contain
  background-position: 50% 50%
  opacity: 0
  display: none
  cursor: pointer
.result
  display: block