body
  background: #000
  color: #fff
  font-family: 'Lato', sans-serif
  overflow-x: hidden
  .post
    width: 100%
    height: auto
    margin: 0 auto
    overflow: hidden
    img
      width: 100%
  @media (max-width: 860px)
    .post
      width: 100%