@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
body {
  background: #000;
  color: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden; }
  body .post {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden; }
    body .post img {
      width: 100%; }
  @media (max-width: 860px) {
    body .post {
      width: 100%; } }

form {
  width: auto;
  margin: 0 auto;
  text-align: center; }
  form p {
    width: 100%;
    font-family: "Lato", sans-serif; }

.menu_scroll #reg_form {
  background: transparent;
  padding: 5px;
  margin-bottom: 0; }
  .menu_scroll #reg_form p {
    margin-bottom: 1px;
    margin-top: 1px;
    font-family: "Lato", sans-serif; }
    .menu_scroll #reg_form p input {
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background: #26292E;
      color: #FFFFFF;
      font-size: 16px;
      height: auto;
      padding: 15px;
      margin: 0;
      resize: none;
      font-family: "Lato", sans-serif; }
.menu_scroll #auth_form {
  background: transparent;
  margin-bottom: 0;
  padding: 5px; }
  .menu_scroll #auth_form p {
    margin-bottom: 1px;
    margin-top: 1px;
    font-family: "Lato", sans-serif; }
    .menu_scroll #auth_form p input {
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background: #26292E;
      color: #FFFFFF;
      font-size: 16px;
      height: auto;
      padding: 15px;
      margin: 0;
      resize: none;
      font-family: "Lato", sans-serif; }

.message {
  position: absolute;
  z-index: 105;
  background: #26292E;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Lato", sans-serif;
  text-decoration: underline;
  line-height: 120%;
  letter-spacing: 1px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center; }

.red {
  color: red;
  padding-top: 45vh; }

.green {
  color: green;
  padding-top: 50vh; }

.author {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  padding: 12px;
  font-family: "Lato", sans-serif;
  z-index: 101; }
  .author a {
    color: red; }

#new_comment {
  display: none;
  background: transparent;
  position: fixed;
  bottom: 0;
  z-index: 105;
  max-width: 860px;
  width: 100%;
  margin: 0 auto; }
  #new_comment p {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Lato", sans-serif; }
    #new_comment p input {
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      text-align: center;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background: #26292E;
      color: #FFFFFF;
      font-size: 16px;
      height: auto;
      width: 100%;
      padding: 15px;
      margin: 0;
      resize: none;
      font-family: "Lato", sans-serif; }

@media (min-width: 860px) {
  #new_comment {
    left: calc(50% - 430px); }

  .close_new_comment {
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: -95px;
    z-index: 106;
    margin-left: 435px; } }
@media (min-width: 860px) and (max-width: 860px) {
  .close_new_comment {
    margin-left: 0;
    right: 5px;
    margin-top: -120px;
    padding: 10px; } }
#delete_comment {
  display: none;
  background: transparent;
  position: fixed;
  bottom: 0;
  z-index: 105;
  max-width: 860px;
  width: 100%;
  margin: 0 auto; }

.menu {
  height: 75px;
  width: 100%;
  background: #333;
  position: fixed;
  z-index: 100;
  top: 0;
  border-bottom: 1px solid #222;
  font-family: "Lato", sans-serif; }

.menu_scroll {
  position: absolute;
  z-index: 99;
  margin-top: -450px;
  transition: 500ms;
  top: 75px;
  background: #333;
  width: 100%;
  font-family: "Lato", sans-serif; }

.author {
  position: fixed; }

.auth_reg {
  position: fixed;
  font-family: "Lato", sans-serif;
  padding: 28px;
  z-index: 101;
  top: 0; }

.auth_reg:hover {
  cursor: pointer; }

.auth_reg_close {
  position: absolute;
  z-index: 101;
  background: url(../img/close.png);
  width: 15px;
  height: 15px;
  transition: 500ms;
  top: 0;
  right: 0;
  margin: 30px;
  background-size: contain;
  background-position: 50% 50%;
  opacity: 0;
  display: none;
  cursor: pointer; }

.result {
  display: block; }

.comments {
  margin-top: 10px;
  padding-right: 20px;
  margin-bottom: 50px; }
  .comments .ultra {
    height: auto;
    width: auto; }
    .comments .ultra li {
      margin: 10px;
      margin-right: 0;
      font-size: 10px; }
      .comments .ultra li .block1, .comments .ultra li .block2, .comments .ultra li .block3 {
        padding: 5px;
        font-family: Lato, sans-serif; }
      .comments .ultra li .block1 {
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        display: inline-block;
        text-transform: uppercase;
        background: #333;
        font-weight: 500; }
      .comments .ultra li .block2 {
        border-top: 1px solid #333;
        display: inline-block;
        text-transform: uppercase;
        background: #333;
        font-weight: 500; }
      .comments .ultra li .block3 {
        display: block;
        border: 1px solid #333;
        color: #ff8300;
        white-space: normal;
        height: auto;
        margin-bottom: 5px; }
    @media (max-width: 480px) {
      .comments .ultra li {
        margin: 10px 0 10px -25px; } }

@media (min-width: 960px) {
  .comments {
    width: 680px;
    margin: 10px auto; } }
.Reg_to_ansver {
  color: red;
  text-align: right;
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin-top: -10px;
  font-size: 15px;
  line-height: 25px; }

.answer {
  text-align: right;
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin-top: -10px;
  font-size: 15px;
  line-height: 25px;
  cursor: pointer;
  background: url(../img/Anonymous_Pencil_icon.png) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-left: calc(100% - 10px);
  width: 15px;
  height: 15px; }

.post .answer {
  right: 20px;
  position: relative;
  z-index: 99; }

ul.ul-dropfree div.drop {
  width: 11px;
  height: 11px;
  position: absolute;
  z-index: 10;
  top: 6px;
  left: -6px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpinDlzJgNlgAWI09LScEnPmjWLoAImrHpIAkwMFAMqGMGC6X44GzkIsHoQooAFTTVQKdbAwxOigyMsmIh3MC7ASHnqBAgwAD4CGeOiDhXRAAAAAElFTkSuQmCC");
  background-position: -11px 0;
  background-repeat: no-repeat;
  cursor: pointer; }

ul.ul-treefree {
  padding-left: 25px; }

ul.ul-treefree ul {
  margin: 0;
  padding-left: 6px; }
ul.ul-treefree li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
  line-height: 23px; }
ul.ul-treefree li:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  left: 0;
  top: 0; }
ul.ul-treefree li:last-child {
  border-left: 0 none; }

.ahtung {
  color: red;
  text-align: right; }

.delete {
  background: url("../img/delete.png");
  background-size: contain;
  background-position: 50% 50%;
  width: 20px;
  height: 20px;
  margin-left: calc(100% - 55px);
  margin-top: -18px;
  cursor: pointer;
  position: absolute; }

/*# sourceMappingURL=main.css.map */
